/*
 1 => 8.3333333333%
 2 => 16.6666666667%
 3 => 25%
 4 => 33.3333333333%
 5 => 41.6666666667%
 6 => 50%
 7 => 58.3333333333%
 8 => 66.6666666667%
 9 => 75%
10 => 83.3333333333%
11 => 91.6666666667%
12 => 100%
*/

.row.elements-container > div.separator > div > div.list-display > div.card-action.sleft,
.row.elements-container > div.separator > div > div.list-display > div.card-action.mleft,
.row.elements-container > div.separator > div > div.list-display > div.card-action.lleft {
	float:								left;
	padding:							5px 24px;
}

.row.elements-container > div.separator > div > div.grid-display.s1 {
	width:								calc(8.3333333333% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s2 {
	width:								calc(16.6666666667% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s3 {
	width:								calc(25% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s4 {
	width:								calc(33.3333333333% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s5 {
	width:								calc(41.6666666667% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s6 {
	width:								calc(50% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s7 {
	width:								calc(58.3333333333% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s8 {
	width:								calc(66.6666666667% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s9 {
	width:								calc(75% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s10 {
	width:								calc(83.3333333333% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s11 {
	width:								calc(91.6666666667%- 30px);
}

.row.elements-container > div.separator > div > div.grid-display.s12 {
	width:								calc(100% - 30px);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs1 {*/
.row.elements-container > div.separator > div > div > div.gs1 {
	/*width:								calc(8.3333333333% - 30px);*/
	width:								calc(8.3333333333%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs2 {*/
.row.elements-container > div.separator > div > div > div.gs2 {
	/*width:								calc(16.6666666667% - 30px);*/
	width:								calc(16.6666666667%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs3 {*/
.row.elements-container > div.separator > div > div > div.gs3 {
	/*width:								calc(25% - 30px);*/
	width:								calc(25%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs4 {*/
.row.elements-container > div.separator > div > div > div.gs4 {
	/*width:								calc(33.3333333333% - 30px);*/
	width:								calc(33.3333333333%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs5 {*/
.row.elements-container > div.separator > div > div > div.gs5 {
	/*width:								calc(41.6666666667% - 30px);*/
	width:								calc(41.6666666667%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs6 {*/
.row.elements-container > div.separator > div > div > div.gs6 {
	/*width:								calc(50% - 30px);*/
	width:								calc(50%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs7 {*/
.row.elements-container > div.separator > div > div > div.gs7 {
	/*width:								calc(58.3333333333% - 30px);*/
	width:								calc(58.3333333333%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs8 {*/
.row.elements-container > div.separator > div > div > div.gs8 {
	/*width:								calc(66.6666666667% - 30px);*/
	width:								calc(66.6666666667%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs9 {*/
.row.elements-container > div.separator > div > div > div.gs9 {
	/*width:								calc(75% - 30px);*/
	width:								calc(75%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs10 {*/
.row.elements-container > div.separator > div > div > div.gs10 {
	/*width:								calc(83.3333333333% - 30px);*/
	width:								calc(83.3333333333%);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs11 {*/
.row.elements-container > div.separator > div > div > div.gs11 {
	width:								calc(91.6666666667%- 30px);
}

/*.row.elements-container > div.separator > div > div.grid-display > div.gs12 {*/
.row.elements-container > div.separator > div > div > div.gs12 {
	/*width:								calc(100% - 30px);*/
	width:								calc(100%);
}

.row.elements-container > div.separator > div > div.list-display > div.s1 {
	width:								calc(8.3333333333% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s2 {
	width:								calc(16.6666666667% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s3 {
	width:								calc(25% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s4 {
	width:								calc(33.3333333333% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s5 {
	width:								calc(41.6666666667% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s6 {
	width:								calc(50% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s7 {
	width:								calc(58.3333333333% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s8 {
	width:								calc(66.6666666667% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s9 {
	width:								calc(75% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s10 {
	width:								calc(83.3333333333% - 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s11 {
	width:								calc(91.6666666667%- 30px);
}

.row.elements-container > div.separator > div > div.list-display > div.s12 {
	width:								calc(100% - 30px);
}

@media only screen and (min-width: 601px) {
	.row.elements-container > div.separator > div > div.list-display > div.card-action.sleft {
		float:								right;
		padding:							25px 0px 0px;
	}
	
	.row.elements-container > div.separator > div > div.list-display > div.card-action.mleft,
	.row.elements-container > div.separator > div > div.list-display > div.card-action.lleft {
		float:								left;
		padding:							5px 24px;
	}

	.row.elements-container > div.separator > div > div.grid-display.m1 {
		width:								calc(8.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m2 {
		width:								calc(16.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m3 {
		width:								calc(25% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m4 {
		width:								calc(33.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m5 {
		width:								calc(41.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m6 {
		width:								calc(50% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m7 {
		width:								calc(58.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m8 {
		width:								calc(66.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m9 {
		width:								calc(75% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m10 {
		width:								calc(83.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m11 {
		width:								calc(91.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.m12 {
		width:								calc(100% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm1 {
		width:								calc(8.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm2 {
		width:								calc(16.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm3 {
		width:								calc(25% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm4 {
		width:								calc(33.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm5 {
		width:								calc(41.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm6 {
		width:								calc(50% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm7 {
		width:								calc(58.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm8 {
		width:								calc(66.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm9 {
		width:								calc(75% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm10 {
		width:								calc(83.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm11 {
		width:								calc(91.6666666667%- 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gm12 {
		width:								calc(100% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m1 {
		width:								calc(8.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m2 {
		width:								calc(16.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m3 {
		width:								calc(25% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m4 {
		width:								calc(33.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m5 {
		width:								calc(41.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m6 {
		width:								calc(50% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m7 {
		width:								calc(58.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m8 {
		width:								calc(66.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m9 {
		width:								calc(75% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m10 {
		width:								calc(83.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m11 {
		width:								calc(91.6666666667%- 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.m12 {
		width:								calc(100% - 30px);
	}

	.row.elements-container > div.separator > div > div > div.gs1 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs2 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs3 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs4 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs5 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs6 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs7 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs8 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs9 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs10 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs11 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs12 {
		width:								auto;
	}
}

@media only screen and (min-width: 993px) {
	.row.elements-container > div.separator > div > div.list-display > div.card-action.sleft,
	.row.elements-container > div.separator > div > div.list-display > div.card-action.mleft {
		float:								right;
		padding:							25px 0px 0px;
	}
	
	.row.elements-container > div.separator > div > div.list-display > div.card-action.lleft {
		float:								left;
		padding:							5px 24px;
	}
	.row.elements-container > div.separator > div > div.grid-display.l1 {
		width:								calc(8.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l2 {
		width:								calc(16.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l3 {
		width:								calc(25% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l4 {
		width:								calc(33.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l5 {
		width:								calc(41.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l6 {
		width:								calc(50% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l7 {
		width:								calc(58.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l8 {
		width:								calc(66.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l9 {
		width:								calc(75% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l10 {
		width:								calc(83.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l11 {
		width:								calc(91.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display.l12 {
		width:								calc(100% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl1 {
		width:								calc(8.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl2 {
		width:								calc(16.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl3 {
		width:								calc(25% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl4 {
		width:								calc(33.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl5 {
		width:								calc(41.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl6 {
		width:								calc(50% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl7 {
		width:								calc(58.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl8 {
		width:								calc(66.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl9 {
		width:								calc(75% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl10 {
		width:								calc(83.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl11 {
		width:								calc(91.6666666667%- 30px);
	}

	.row.elements-container > div.separator > div > div.grid-display > div.gl12 {
		width:								calc(100% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l1 {
		width:								calc(8.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l2 {
		width:								calc(16.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l3 {
		width:								calc(25% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l4 {
		width:								calc(33.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l5 {
		width:								calc(41.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l6 {
		width:								calc(50% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l7 {
		width:								calc(58.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l8 {
		width:								calc(66.6666666667% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l9 {
		width:								calc(75% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l10 {
		width:								calc(83.3333333333% - 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l11 {
		width:								calc(91.6666666667%- 30px);
	}

	.row.elements-container > div.separator > div > div.list-display > div.l12 {
		width:								calc(100% - 30px);
	}

	.row.elements-container > div.separator > div > div > div.gs1 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs2 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs3 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs4 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs5 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs6 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs7 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs8 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs9 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs10 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs11 {
		width:								auto;
	}

	.row.elements-container > div.separator > div > div > div.gs12 {
		width:								auto;
	}
}

