main {
	padding-top:						30px;
}

.row.content {
	display:							none;
}

.row.center > .row,
.row.center > .row > .progress {
	margin:								0;
	padding:							0;
}

.row.center > .row {
	left:								0;
	margin-top:							-30px;
	position:							absolute;
	width:								100%;
}

.card:not(.list-display) > .card-content > .content-left {
	float:								left;
	width:								100%;
}

.card:not(.list-display) > .card-content > .content-left > .card-title {
	overflow:							hidden;
	white-space:						nowrap;
	text-overflow:						ellipsis;
}

.row.elements-container > div.separator > div > div:not(.grid-display):not(.list-display) {
	transition:							all 0s ease-out;
}

.row.elements-container > div.separator > div > div.grid-display .grid-hide {
	display:							none;
}

.row.elements-container > div.separator > div > div:target,
.row.elements-container > div.separator > div > div.selected {
	-webkit-transition:					all 0.2s ease-out;
	-moz-transition:					all 0.2s ease-out;
	-o-transition:						all 0.2s ease-out;
	transition:							all 0.1s ease-in-out;
	box-shadow:							0px 0px 20px 0.015em #223366;
	-webkit-box-shadow:					0 16px 24px 2px rgba(10,25,75,0.14),
										0 6px 30px 5px rgba(20,30,75,0.12),
										0 8px 10px -5px rgba(5,20,60,0.3);
	box-shadow:							0 16px 24px 2px rgba(10,25,75,0.14),
										0 6px 30px 5px rgba(20,30,75,0.12),
										0 8px 10px -5px rgba(5,20,60,0.3);
}

.row.elements-container > div.separator > div > div.element-hidden {
	display:							none;
}


.row.elements-container > div.separator > div > div {
	-webkit-transition:					all 1s ease-out;
	-moz-transition:					all 1s ease-out;
	-o-transition:						all 1s ease-out;
	transition:							all 0.5s ease-in-out;
	width:								100%;
	margin-left:						0;
	left:								0;
	right:								0;
	float:								left;
	box-sizing:							border-box;
	padding:							0 .75rem;
	min-height:							1px;
}

.row.elements-container > div.separator > div > div div.action-buttons {
	position:							absolute;
	top:								0;
	right:								3px;
	opacity:							0;
	transition:							opacity 0.5s;
}

.row.elements-container > div.separator > div > div div.action-buttons button {
	margin-bottom:						5px;
	box-shadow:							none;
	-webkit-box-shadow:					none;
	padding:							0;
	margin:								0px 2px;
	line-height:						20px;
	height:								20px;
}

/* .row.elements-container > div.separator > div > div div.action-buttons button.hover-red:hover { */
	/* text-shadow:						0px 0px 4px #E57373; */
/* } */

/* .row.elements-container > div.separator > div > div div.action-buttons button.hover-green:hover { */
	/* text-shadow:						0px 0px 4px #26A69A; */
/* } */

/* .row.elements-container > div.separator > div > div div.action-buttons button.hover-blue:hover { */
	/* text-shadow:						0px 0px 4px #29B6F6; */
/* } */

/* #26A69A => #2BBBAD ; 38-43 166-187 154-173  => 1.13 */

.btn.green.lighten-2:hover {
	background-color:					#92E195 !important; /* #81C784 129-146 199-225 132-149 => 1.13 */
}

.btn.red.lighten-2:hover {
	background-color:					#FF8282 !important; /* #E57373 229-255 115-130 115-130 => 1.13 */
}

.btn.blue-grey.darken-1:hover {
	background-color:					#5F7C8A !important; /* #546E7A 84-95 110-124 122-138 => 1.1.13 */
}

.btn.blue:hover {
	background-color:					#25AAFF !important; /* #2196F3 33-37 150-170 243-255 => 1.1.13 */
}

.btn.light-blue:hover {
	background-color:					#2ECEFF !important; /* #29B6F6 41-46 182-206 246-255 => 1.1.13 */
}

.btn.grey:hover {
	background-color:					#B3B3B3 !important; /* #9E9E9E 158-179 158-179 158-179 => 1.1.13 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-green:hover {
	color:								#26A69A; /* #1D7D74 38-29 166-125 154-116 => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-blue:hover {
	color:								#29B6F6; /* #1F89B9 41-31 182-137 246-185 => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-red:active {
	color:								#AC5757; /* #AC5757 229-172 115-87 115-87 => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-green:active {
	color:								#1D7D74; /* #1D7D74 38-29 166-125 154-116 => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-blue:active {
	color:								#1F89B9; /* #1F89B9 41-31 182-137 246-185 => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-red:hover {
	color:								#E57373; /* #AC5757 229-172 115-87 115-87  => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-green:hover {
	color:								#26A69A; /* #1D7D74 38-29 166-125 154-116 => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-blue:hover {
	color:								#29B6F6; /* #1F89B9 41-31 182-137 246-185 => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-red:active {
	color:								#AC5757; /* #AC5757 229-172 115-87 115-87  => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-green:active {
	color:								#1D7D74; /* #1D7D74 38-29 166-125 154-116 => 1.328 */
}

.row.elements-container > div.separator > div > div div.action-buttons button.hover-blue:active {
	color:								#1F89B9; /* #1F89B9 41-31 182-137 246-185 => 1.328 */
}

.row.elements-container > div.separator > div > div:hover div.action-buttons {
	opacity:							1;
	transition:							opacity 0.2s;
	z-index:							101;
}

.row.elements-container > div.separator > div > div:hover div.action-buttons:before {
	content:							'';
	display:							block;
	position:							absolute;
	width:								100%;
	opacity:							0;
	left:								0;
	top:								0;
	height:								100%;
	border-radius:						50px;
	background-color:					#FFFFFF;
	-webkit-transition:					opacity .3s, -webkit-transform .3s;
	transition:							opacity .3s, -webkit-transform .3s;
	transition:							opacity .3s, transform .3s;
	transition:							opacity .3s, transform .3s, -webkit-transform .3s;
	-webkit-animation:					pulse-low 1.5s cubic-bezier(0.24, 0, 0.38, 1) 1;
	animation:							pulse-low 1.5s cubic-bezier(0.24, 0, 0.38, 1) 1;
	z-index:							-1;
}

.row.elements-container > div.separator > div > div:hover div.action-buttons.admin:before {
	top:								-15px;
	height:								50px;
}

.row.elements-container > div.separator > div > div div.action-buttons form {
	display:							inline-block;
}

.row.elements-container > div.separator > div > div.list-display.card .card-content {
	padding:							0px;
	display:							inline-block;
}

.row.elements-container > div.separator > div > div.list-display.card .card-content .card-title {
	margin-bottom:						0px;
	transition:							padding-left 0.5s;
}

.row.elements-container > div.separator > div > div.list-display.card .card-content .card-title + a.copy-link,
.row.elements-container > div.separator > div > div.grid-display.card .card-content .card-title + a.copy-link {
	vertical-align:						middle;
	opacity:							0;
	transition:							opacity 0.5s;
	position:							absolute;
	top:								5px;
	left:								5px;
}

.row.elements-container > div.separator > div > div.list-display.card .card-content:hover .card-title {
	padding-left:						20px;
	transition:							padding-left 0.1s;
}

.row.elements-container > div.separator > div > div.list-display.card .card-content:hover .card-title + a.copy-link,
.row.elements-container > div.separator > div > div.grid-display.card .card-content .card-title:hover + a.copy-link,
.row.elements-container > div.separator > div > div.list-display.card .card-content a.copy-link:hover,
.row.elements-container > div.separator > div > div.grid-display.card .card-content a.copy-link:hover {
	opacity:							1;
	transition:							opacity 0.2s;
}

.row.elements-container > div.separator > div > div.list-display.card .card-action {
	float:								right;
	display:							inline-block;
	padding:							25px 0px 0px;
	min-width:							13%;
}

.row.elements-container > div.separator > div > div.grid-display {
	margin:								0px 30px 30px;
	width:								calc(100% - 30px);
}

.row.elements-container > div.separator > div > div.grid-display {
	margin-left:						auto;
	left:								auto;
	right:								auto;
}

.row.elements-container > div.separator > div a.modal-trigger {
	color:								inherit;
}

.row.elements-container > div.separator > div a.modal-trigger:hover,
.row.elements-container > div.separator > div a.modal-trigger:active {
	color:								#039BE5;
}

.brand-logo > img {
	height:								64px;
	line-height:						64px;
}

.brand-logo > span {
	vertical-align:						top;
}

.row.elements-container > div.separator,
.row.elements-container > div.separator > div {
	margin-bottom:						0px;
}

.row.elements-container > div.separator {
	border:								none;
	box-shadow:							none;
}

.row .col.side-bar.fixed {
	position:							absolute;
	left:								4%;
}

.row .col.side-bar > div {
	padding-top:						15px;
}

.row .col.side-bar > div.menu {
	margin-left:						-10px;
	overflow-y:							auto;
	height:								calc(100% - 100px);
}

.section.table-of-content {
	height:								calc(100% - 52px);
}

.clear-bottom {
	clear:								both;
	height:								50px;
}

.alert-container {
	position:							fixed;
	right:								20px;
	z-index:							101;
	max-width:							20%;
	top:								75px;
	overflow-y:							auto;
	max-height:							calc(100% - 75px - 22px);
}

.alert-container > .chip.alert {
	padding:							15px 30px;
	height:								auto;
	vertical-align:						top;
	border-radius:						2px;
	float:								right;
	line-height:						20px;
}

.alert-container > .chip.alert > strong {
	font-weight:						600;
}

.alert-container  > .chip.alert> .close {
	line-height:						inherit;
}

.chip.alert.alert-info {
	background-color:					rgba(205, 205, 205, 0.85);
}

.chip.alert.alert-success {
	background-color:					rgba(150, 225, 150, 0.85)
}

.chip.alert.alert-warning {
	background-color:					rgba(225, 205, 100, 0.85)
}

.chip.alert.alert-danger {
	background-color:					rgba(225, 150, 150, 0.85);
	color:								#FFFFFF;
}

img.responsive-img.circle.user-icon {
	height:								30px;
	vertical-align:						middle;
	margin-left:						10px;
	background-color:					#F8F8F8;
}

@media only screen and (max-width: 600px) {
	img.responsive-img.circle.user-icon {
		margin-left:						0px;
	}
	.btn.btn-small > .material-icons.right {
		margin-left:						0px;
	}
	.btn.btn-small {
		margin-left:						10px;
		margin-right:						10px;
		padding:							0 10px;
	}
}

.user-infos {
	display:							none;
	position:							absolute;
	width:								200px;
	height:								60px;
	background:							rgba(125, 125, 125, 0.75);
	z-index:							1010;
	margin-top:							5px;
	margin-left:						-20px;
	text-align:							center;
	vertical-align:						middle;
	line-height:						28px;
	right:								15px;
}

.user-infos::before {
	content:							"";
	display:							block;
	position:							absolute;
	background:							transparent;
	top:								-15px;
	margin-left:						150px;
	height:								1px;
	width:								30px;
	border-style:						solid;
	border-width:						0 15px 15px 15px;
	border-color:						transparent transparent rgba(125,125,125,0.75) transparent;
}

li.user:hover > .user-infos {
	display:							block;
}

.add-field {
	padding:							30px;
}

.del-field {
	float:								left;
	margin-right:						15px;
}

.file-field .btn.large {
	min-width:							310px;
}

.file-field button.del-action {
	margin-right:						5px;
}

.file-field button.del-action + .btn.large {
	min-width:							calc(310px - 45px);
}

.btn.btn-small.large + .file-path-wrapper > .file-path:disabled {
	color:								initial;
}

input[type=text].disabled:not(.browser-default),
input[type=text].disabled.invlid:not(.browser-default) {
	color:								rgba(0,0,0,0.42);
	border-bottom:						1px dotted rgba(0,0,0,0.42);
	box-shadow:							none;
}

.card-content > span:not(.card-title) {
	font-style:							italic;
}


.row.elements-container > div.separator > div > div.grid-display > .card-content > span:not(.card-title) {
	font-size:							11px;
}

.row.elements-container > div.separator > div > div.grid-display {
	min-height:							auto;
}

.row.elements-container > div.separator > div > div.grid-display > div.card-content.white-text {
	min-height:							auto;
}

@media only screen and (min-width: 601px) {
	.row.elements-container > div.separator > div > div.grid-display > .card-content > span:not(.card-title) {
		font-size:							11.5px;
	}

	.row.elements-container > div.separator > div > div.grid-display {
		min-height:							330px;
	}

	.row.elements-container > div.separator > div > div.grid-display > div.card-content.white-text {
		min-height:							160px;
	}
}

@media only screen and (min-width: 993px) {
	.row.elements-container > div.separator > div > div.grid-display > .card-content > span:not(.card-title) {
		font-size:							12px;
	}

	.row.elements-container > div.separator > div > div.grid-display {
		min-height:							330px;
	}

	.row.elements-container > div.separator > div > div.grid-display > div.card-content.white-text {
		min-height:							160px;
	}
}

input[type="search"] {
	-webkit-appearance:						searchfield;
	-moz-appearance:						searchfield;
}

input[type="date"]::-webkit-search-cancel-button {
	-webkit-appearance:						none;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance:						searchfield-cancel-button;
}

input[type="date"]::-moz-search-cancel-button {
	-moz-appearance:						none;
}

input[type="search"]::-moz-search-cancel-button {
	-moz-appearance:						searchfield-cancel-button;
}

span.underline {
	background-color:						#FFFF00;
	color:									#000000;
	text-shadow:							1px 1px 1px #C0C0C0;
}

div.card > div.card-action > a.att-link > i.material-icons {
	display:								inline;
	vertical-align:							bottom;
	margin-right:							5px;
}

div.card > div.card-action > a.att-link:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	margin-right:							10px;
}

span.user-title {
	font-size:								10pt;
	display:								block;
}

.user-details .card .card-content a {
	display:								block;
	padding:								5px 0px;
}

.user-details .card .card-content a > i.material-icons {
	vertical-align:							bottom;
}

#filter-counter {
	float:									right;
	font-size:								13px;
	height:									1px;
	margin-top:								15px;
}

[type="checkbox"].enabled:checked:disabled+label:before {
	border-right:							2px solid #26a69a;
	border-bottom:							2px solid #26a69a;
}

[type="checkbox"]:checked+label,
[type="checkbox"]+label:hover {
	color:									#606060;
}

/* footer.page-footer { */
	/* padding:							0px 0px; */
	/* position:							fixed; */
	/* bottom:								0px; */
	/* width:								100%; */
	/* display:							block; */
	/* font-size:							9pt; */
	/* z-index:							101; */
/* } */

/* footer.page-footer a { */
	/* color:								#16668E; */
/* } */

a#footer-details {
	z-index:							999;
	position:							fixed;
	right:								15px;
	bottom:								15px;
}

#footer-target a.gitlab-link {
	background-image:					url('../img/gitlab-min.png');
	background-position:				5px 100%;
	background-size:					40px 40px;
	background-repeat:					no-repeat;
	display:							block;
	height:								40px;
	vertical-align:						bottom;
	padding-top:						11px;
	padding-left:						50px;
	width:								100px;
}

#footer-target .tap-target-content .content {
	padding-left:						75px;
	margin-bottom:						35px;
}

#footer-target a.gitlab-link {
	color:								#ffa726;
	text-shadow:						1px 1px 1px #e53935;
}

#footer-target a.gitlab-link:hover {
	color:								#ffa726;
	text-shadow:						1px 1px 1px #ff7043;
}

#footer-target a.gitlab-link:active,
#footer-target a.gitlab-link:focus {
	color:								#ffa726;
	text-shadow:						none;
}

@keyframes pulse-low {
	0% {
		opacity:							0.75;
		-webkit-transform:					scale(1);
		transform:							scale(1);
	}
	50% {
		opacity:							0;
		-webkit-transform:					scale(1.5);
		transform:							scale(1.5)
	}
	100% {
		opacity:							0;
		-webkit-transform:					scale(1.5);
		transform:							scale(1.5);
	}
}

@keyframes hide-height {
	0% {
		height:								auto;
		opacity:							1;
		-webkit-transform:					scale(1);
		transform:							scale(1);
	}
	50% {
		height:								0px;
		opacity:							0.25;
		-webkit-transform:					scale(1.5);
		transform:							scale(1.5)
	}
	100% {
		height:								0px;
		opacity:							0;
		-webkit-transform:					scale(1.5);
		transform:							scale(1.5);
	}
}

